body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif; 
}

.header{
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 12px 10px;
    background: #0d0d0d;
}

.top-bar{
    background: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-img{
    width: 130px;
    height:auto;
}

.top-menu a{
    margin: 0 15px;
    font-size: 16px;
    color: #ccc;
    text-decoration: none;
}

.top-menu a:hover{
    color: #66ff66;
}

.search-box {
    position: relative;
    margin-left: auto;
}

.search-box input {
    padding: 8px 30px 8px 10px;
    border-radius: 6px;
    border: none;
    background: #2c2c2c;
    color: white;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
}


.menu{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 12px 10px;
    background: #1a1a1a;
}

.menu a{
    color: #ccc;
    margin-right: 25px;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover{
    color: #66ff66;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.movie-item{
    padding: 0;
    margin: 0;
    position: relative;
}

.movie-item img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.3s;
    aspect-ratio: 140/200;
}

.movie-item img:hover{
    transform: scale(1.05);
}

.movie-item p{
    font-size: 14px;
    margin-top: 6px;
}

.movie-item p:hover{
    color:#66ff66;
}

.today-box{
    background: #141414;
    padding: 15px;
    border-radius: 8px;
    margin-left: 0px;
}

.today-box h2{
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

.today-item{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #1b1b1b;
    padding: 8px 0;
    border-radius: 6px;
    margin-bottom: 12px;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: 1fr 240px;
    gap: 15px;
    padding-top: 20px;
}

.today-item img{
    width: 45px;
    height: 65px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.today-item .info h4{
    margin-bottom: 2px;
    font-size: 14px;
    color: #fff;
}

.today-item .info h4:hover{
    color: #66ff66;
}

.today-item .rank{
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: #ccc;
}

.movie-section h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.left-container{
    padding: 0px;
    margin: 0;
}

.movie-section{
    padding: 20px 0 0 0;
    margin: 0;
}

.main-wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    border-radius: 6px;
}

.play-icon{
    font-size: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 15px;
    background: rgba(0,0,0,0.4);
}

.movie-item:hover .overlay{
    opacity: 1;
}

.today-item .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating-info{
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.rating-info .star{
    font-size: 10px;
    margin-right: 3px;
}

.rating-infor .score{
    color: #ffc107;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0px;
}

.rating-info .year{
    color: #aaa;
    font-size: 12px;
}

.score-box{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 8px;
}

.site-footer{
    background-color: #141414;
    color: #aaa;
    padding: 30px 0;
    margin-top: 30px;
}

.footer-wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-logo img{
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.footer-text p{
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.social-icon{
    margin-top: 20px;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    background-color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    text-decoration: none;
    overflow: hidden;
}

.social-icon a img{
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.social-icon a:hover{
    background-color: #66ff66;
}

.footer-nav{
    margin-top: 20px;
}

.footer-nav a{
    color: #ccc;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.footer-nav a:hover{
    color: #66ff66;
}

.footer-divider{
    border: none;
    border-top: 1px solid #333;
    margin: 25px 0;
}

.footer-legal p{
    font-size: 12px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 10px;
}

.movie-item .movie-subtitle{
    font-size: 11px;
    color: #888;
    margin-top: 0;
    line-height: 1.2;
}

.movie-item .movie-title{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2px;
}

.today-item .info .subtitle{
    font-size: 11px;
    color: #888;
    margin: 0;
}

.movie-detail-container{
    padding-top: 30px;
}

.detail-layout{
    display: flex;
    gap: 30px;
    color: #ccc;
}

.detail-poster{
    flex-shrink: 0;
    width: 250px;
}

.detail-poster img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.detail-info{
    flex-grow: 1;
}

.detail-info h1{
    color: #fff;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

.detail-info p{
    font-size: 14px;
    line-height: 1.6;
}

.detail-info p strong{
    color: #fff;
    margin-right: 5px;
}

.synopsis{
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.detail-buttons{
    margin-top: 30px;
}

.btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
}

.btn-primary{
    background-color: #E50914;
}

.btn-secondary{
    background-color: #555;
}

.btn:hover{
    opacity: 0.8;
}